In [ ]:
pip install hazm

Requirement already satisfied: hazm in /usr/local/lib/python3.6/dist-packages (0.7.0)
Requirement already satisfied: libwapiti>=0.2.1; platform_system != "Windows" in /usr/local/lib/python3.6/dist-packages (from hazm) (0.2.1)
Requirement already satisfied: nltk==3.3 in /usr/local/lib/python3.6/dist-packages (from hazm) (3.3)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from libwapiti>=0.2.1; platform_system != "Windows"->hazm) (1.15.0)

In [ ]:
import pandas as pd
import numpy  as np
import matplotlib.pyplot as plt
from google.colab import files
from google.colab import drive
# import gensim
# from gensim.models.word2vec import Word2Vec
from hazm import word_tokenize, sent_tokenize, stopwords_list, Normalizer
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
drive.mount('/content/gdrive')
train_data = pd.read_csv('/content/gdrive/My Drive/train.csv')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
train_data.head()

   Unnamed: 0  ...                  Category
0           0  ...       Science and Culture
1           1  ...                     Sport
2           2  ...                   Economy
3           3  ...  Miscellaneous.World News
4           4  ...                     Sport

[5 rows x 3 columns]

In [ ]:
train_data.Text = train_data.Text.apply(str)
train_data.Category = train_data.Category.apply(str)

In [ ]:
normalizer = Normalizer()

In [ ]:
norm_text = [normalizer.normalize(t) for t in train_data.Text]

In [ ]:
#norm_text[:2]
len(norm_text)

150096

In [ ]:
sents = [sent_tokenize(item) for item in norm_text]

In [ ]:
stops = (stopwords_list())

In [ ]:
words = [[word for s in sentence for word in word_tokenize(s) ] for sentence in sents]

In [ ]:
import re

In [ ]:
def filter1 (txt):
  # signs = ['،','.',':',')','(','_','-','؛','','[a-zA-Z]+']
  regex = re.compile(r'[a-zA-Z]+|[0-9]+|[۰۱۲۳۴۵۶۷۸۹]|[.:)(\[\]{}_-،؛]')
  filtered = [i for i in txt if not regex.match(i)]
  return filtered

In [ ]:
words = [filter1(w) for w in words]

In [ ]:
words = [" ".join(w1 for w1 in w if w1 not in stops) for w in words ]

In [ ]:
#all_words = [w1 for w in words for w1 in w if w1 not in stops]

In [ ]:
train_data.head()

   Unnamed: 0  ...                  Category
0           0  ...       Science and Culture
1           1  ...                     Sport
2           2  ...                   Economy
3           3  ...  Miscellaneous.World News
4           4  ...                     Sport

[5 rows x 3 columns]

In [ ]:
train_data['Text'] = words

بعضی از این کاب خونه هایی که زدم اینجا لازم نیست، من دیگه همرو از بالای اون مقاله برداشتم جدا نکردم چیا لازمه .

In [ ]:
#some of these are not used

from nltk.tokenize import word_tokenize
from nltk import pos_tag
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from sklearn.preprocessing import LabelEncoder
from collections import defaultdict
from nltk.corpus import wordnet as wn
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn import model_selection, naive_bayes, svm
from sklearn.metrics import accuracy_score

In [ ]:
Train_X, Test_X, Train_Y, Test_Y = model_selection.train_test_split(train_data['Text'],train_data['Category'],test_size=0.3)

In [ ]:
Encoder = LabelEncoder()
Train_Y = Encoder.fit_transform(Train_Y)
Test_Y = Encoder.fit_transform(Test_Y)

In [ ]:
#Tfidf_vect = TfidfVectorizer(max_features=5000)
Tfidf_vect = TfidfVectorizer(max_features=8000, ngram_range=(1,2), max_df=0.5, min_df=15, use_idf=True)
Tfidf_vect.fit(train_data['Text'])
Train_X_Tfidf = Tfidf_vect.transform(Train_X)
Test_X_Tfidf = Tfidf_vect.transform(Test_X)

In [ ]:
#Tfidf_vect.vocabulary_

In [ ]:
# Classifier using SVM
SVM = svm.SVC(C=1.0, kernel='linear', degree=3, gamma='auto')
SVM.fit(Train_X_Tfidf,Train_Y)

predictions_SVM = SVM.predict(Test_X_Tfidf)
print("SVM Accuracy Score -> ",accuracy_score(predictions_SVM, Test_Y)*100)

SVM Accuracy Score ->  78.83808212485287

In [ ]:
test_data = pd.read_csv('/content/gdrive/My Drive/test.csv')

In [ ]:
test_data.head()

   Id                                               Text
0   0  \nهفت اقليم \nآلودگي هوا پكن را تهديد مي كند \...
1   1  \nگل و گياه زعفران زينتي \nنام علمي: Crocus ba...
2   2  \nيادداشت \nقانون بودجه و صنايع كوچك \nدر شمار...
3   3  \nدر سالروز ميلاد حضرت مهدي \nهمايش ادبي دانش ...
4   4  \nاز IRA تا فارك \n بوگوتا، پايتخت پرهرج ومرج ...

In [ ]:
norm_test_text = [normalizer.normalize(t) for t in test_data.Text]

In [ ]:
sents = [sent_tokenize(item) for item in norm_test_text]

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
words = [[word for s in sentence for word in word_tokenize(s) ] for sentence in sents]

In [ ]:
words = [filter1(w) for w in words]

In [ ]:
words = [" ".join(w1 for w1 in w if w1 not in stops) for w in words ]

In [ ]:
#words[0]

'هفت اقلیم آلودگی هوا پکن تهدید باافزایش آلودگی هوا پکن مقام\u200cهای محیط زیست دراین شهر تاثیرات آلودگی هوا برانسان هشداردادند گزارش واحدمرکزی خبربنقل شبکه تلویزیونی چین آلودگی هوا درپکن درپی افزایش خودروها وتعداد آسمان خراش\u200cها درپایتخت چین بوقوع پیوسته بنابه مقام\u200cهای محیط زیست درحال حاضر میزان دی اکسید کربن دراین شهر سطح معمولی فراتررفته بطوری سطح شهر تیره وتار تنفس مردم خفه درحال حاضر نرخ افزایش سالانه خودرو درپکن ۱۵ درصد ذکرشده تاسال درشهر ۱۹۹۸ پکن میلیون وچهارصد خودرو حرکت واین درحالی هرروزهزار ۶۰ خودرو شهرهای پکن تعدادی بعلت فرسوده هوای شهرپکن آلوده بنابه کارشناسان درصد ۷۰ آلودگی هوای شهر پکن ازخودروها معضل شهر پکن سوزاندن زغال سنگ است، زیرابسیاری شهروندان وکارخانجات واقع درحومه پکن زغال سنگ تولید گرمااستفاده تلاش جانورشناسان وکارشناسان حیات وحش درکنیا گزارش واحدمرکزی خبر نقل شبکه تلویزیونی عمان چهل نفر ازکارشناسان المللی حیات وحش باهمکاری سازمان حفاظت محیط زیست کنیابااستفاده ده فروند هواپیمای موتوره وچندین گروه سیار فعالیت گسترده\u200cای رابرای شناسایی وشمارش فیلهای کشور باهدف جلوگیری انقراض نسل فیل درافریقا آغاز گزارش گروه ثبت ومحل زیست فیلهای موجوددرمنطقه\u200cای وسعت صدها کیلومترمربع می\u200cپردازد وطی فعالیت ۵ روزه دکتر داگلاس همیلتون کارشناس برجسته جانور شناس ارزیابی ذخایر جانور خواهد پرداخت گزارش حاکیست سال ۱۹۸۸ بعلت کشتارشدید فیلها بخاطر تجارت عاج هزار راس فیل درپارک ملی کنیا باقی مانده اینک همت برنامه حفاظت ذخایر فیل\u200cها رقم هفت هزار راس افزایش گزارش می\u200cافزاید درراستای شمارش فیلهای کنیا فعالیتهای نیزنظیر ارزیابی ذخایر انواع بزکوهی وبوفالو درپارک ملی کنیا انجام گله\u200cهای مختلف جانوران همراه مناطق زیست شناسایی خواهند حیات وحش کوه گیلویه پناه دهید یاسوج - خبرنگار همشهری سازمان حفاظت محیط زیست استان کهگیلویه بویراحمد صدور اطلاعیه اهالی استان همکاری طلبیده اطلاعیه نزول رحمت الهی بخصوص ریزش برف ارتفاعات پناهنده وحوش پرندگان جوار روستاها، شهرها، جداول رودخانه\u200cها گردیده است، عده\u200cای سودجو فرصت طلب شکار گونه\u200cهای مختلف جانوری کمین نشسته\u200cاند همکاری ساکنین استان کهگیلویه بویراحمد زمینه رهگشاست اطلاعیه درخواست متخلفین سازمان محیط زیست استان شهرستانهای کهگیلویه گچساران سرمحیطبانی باشت پایگاههای تابعه معرفی'

In [ ]:
test_data['Text'] = words
test_data.head()

   Id                                               Text
0   0  هفت اقلیم آلودگی هوا پکن تهدید باافزایش آلودگی...
1   1  گل گیاه زعفران زینتی نام علمی خانواده پیاز توپ...
2   2  یادداشت قانون بودجه صنایع شماره گذشته تفاوت‌ها...
3   3  سالروز میلاد حضرت مهدی همایش ادبی دانش آموزان ...
4   4  فارک بوگوتا، پایتخت پرهرج ومرج کلمبیا آمریکای ...

In [ ]:
Test_X_Tfidf = Tfidf_vect.transform(test_data['Text'])
predictions_test_SVM = SVM.predict(Test_X_Tfidf)

In [ ]:
len(predictions_test_SVM)

16678

In [ ]:
test_data['Category'] = Encoder.inverse_transform(predictions_test_SVM)

In [ ]:
test_data.head()

   Id                                               Text             Category
0   0  هفت اقلیم آلودگی هوا پکن تهدید باافزایش آلودگی...  Miscellaneous.Urban
1   1  گل گیاه زعفران زینتی نام علمی خانواده پیاز توپ...        Miscellaneous
2   2  یادداشت قانون بودجه صنایع شماره گذشته تفاوت‌ها...              Economy
3   3  سالروز میلاد حضرت مهدی همایش ادبی دانش آموزان ...  Science and Culture
4   4  فارک بوگوتا، پایتخت پرهرج ومرج کلمبیا آمریکای ...             Politics

In [ ]:
from pandas import DataFrame
df = DataFrame (test_data['Category'],columns=['Id','Category'])
df["Id"] = df.index

In [ ]:
df

          Id                  Category
0          0       Miscellaneous.Urban
1          1             Miscellaneous
2          2                   Economy
3          3       Science and Culture
4          4                  Politics
...      ...                       ...
16673  16673       Science and Culture
16674  16674                     Sport
16675  16675  Miscellaneous.World News
16676  16676             Miscellaneous
16677  16677                   Economy

[16678 rows x 2 columns]

فقط این که این یه ستون اضافه id میده، که من دستی حذفش کردم قبل از اپلود

In [ ]:
df.to_csv('final.csv')
!cp final.csv "/content/gdrive/My Drive/"